body {
  text-align: center;
}

.App {
  margin: 5rem auto 0;
  padding: 2rem;
  background-color: rgb(0, 123, 255);
  color: #dbdbdb;
  width: 17rem;
  border-radius: 1rem;
  /* className="mx-auto mt-5 bg-primary" style={{ width: "15rem" }} */
}

button {
  margin: 5px;
}

span {
  display: inline-block;
  width: 10px;
  font-size: 25px;
}
